.logo {
  @include fluid-type(1.5rem, 2rem);
  font-family: $font-primary;
  font-weight: 700;

  a {
    @include animated-underline();
  }
}

.dark {
  color: $light-color;
}

.light {
  color: $main-text-color;
}

.web {
  color: $overlay-highlight;
}
