.logo {
  @include animated-underline();
  @include fluid-type(1.5rem, 2rem);
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  a {
    text-decoration: none;
    color: inherit; // Kluczowe: kolor dziedziczony z rodzica (.light / .dark)
  }

  &[data-variant="dark"] {
    color: $light-color;
  }

  &[data-variant="light"] {
    color: $main-text-color;
  }
}

.web {
  color: $overlay-highlight;
}
