.contacts {
  display: flex;
  font-style: normal;
  font-family: "Roboto", sans-serif;

  &[data-direction="auto"] {
    display: none;

    @include mq("tablet") {
      @include flex-center(column);
      gap: 10px;
    }
    @include mq("desktop") {
      flex-direction: row;
      gap: 40px;
    }
  }

  &[data-direction="column"] {
    flex-direction: column;
    gap: 16px;
  }
}

.link {
  @include animated-underline();
  @include fluid-type(0.9rem, 1.1rem);
  color: $alternative-color;
  text-decoration: none;
  width: fit-content;
  transition: color $transition-default;

  &:hover {
    color: $highlight-color;
  }
}
