.contacts {
  display: flex;
  font-style: normal;
  font-family: $font-secondary;
}

.directionAuto {
  display: none;

  @include mq("tablet") {
    @include flex-center(column);
    gap: 10px;
  }

  @include mq("desktop") {
    flex-direction: row;
    gap: 40px;
  }
}

.directionColumn {
  flex-direction: column;
  gap: 16px;
}

.link {
  @include animated-underline();
  @include fluid-type(0.9rem, 1.1rem);
  color: $alternative-color;
  text-decoration: none;
  width: fit-content;
}
