// Definiujemy mapę breakpointów (standardowe wymiary)
$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "large": 1440px,
);

// Mixin do obsługi Media Queries
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .container {
//   width: 100%;
//   padding: 20px;
//   @include flex-center; // Szybkie centrowanie

//   // Responsywność
//   @include respond-to("tablet") {
//     width: 750px;
//     padding: 40px;
//   }

//   @include respond-to("desktop") {
//     width: 1000px;
//   }
// }

@mixin fluid-type(
  $min-size,
  $max-size,
  $min-breakpoint: 480px,
  $max-breakpoint: 1024px
) {
  $slope: Math-div(
    ($max-size - $min-size),
    ($max-breakpoint - $min-breakpoint)
  );
  $y-axis-intersection: -$min-breakpoint * $slope + $min-size;

  font-size: clamp(
    #{$min-size},
    #{$y-axis-intersection} + #{$slope * 100vw},
    #{$max-size}
  );
}

@function Math-div($a, $b) {
  @return $a / $b;
}

//h1 {
// Tekst będzie miał 32px na telefonie, 64px na desktopie,
// a pomiędzy nimi będzie płynnie rósł.
//@include fluid-type(32px, 64px);
//font-weight: 700;
//line-height: 1.2;
//}
