$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "large": 1440px,
);

// Mixin do obsługi Media Queries
@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// .container {
//   width: 100%;
//   padding: 20px;
//   @include flex-center; // Szybkie centrowanie

//   // Responsywność
//   @include mq("tablet") {
//     width: 750px;
//     padding: 40px;
//   }

//   @include mq("desktop") {
//     width: 1000px;
//   }
// }

@mixin fluid-type(
  $min-size,
  $max-size,
  $min-breakpoint: 480px,
  $max-breakpoint: 1024px
) {
  $slope: Math-div(
    ($max-size - $min-size),
    ($max-breakpoint - $min-breakpoint)
  );
  $y-axis-intersection: -$min-breakpoint * $slope + $min-size;

  font-size: clamp(
    #{$min-size},
    #{$y-axis-intersection} + #{$slope * 100vw},
    #{$max-size}
  );
}

@function Math-div($a, $b) {
  @return $a / $b;
}

//h1 {
// Tekst będzie miał 32px na telefonie, 64px na desktopie,
// a pomiędzy nimi będzie płynnie rósł.
//@include fluid-type(32px, 64px);
//font-weight: 700;
//line-height: 1.2;
//}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Użycie:
// .overlay {
//   @include absolute($top: 0, $left: 0);
//   width: 100%;
// }

@mixin aspect-ratio($width, $height) {
  aspect-ratio: $width / $height;

  @supports not (aspect-ratio: 1 / 1) {
    // Fallback dla bardzo starych przeglądarek
    position: relative;
    &::before {
      content: "";
      display: block;
      padding-top: ($height / $width) * 100%;
    }
  }
}

// Użycie:
// .video-container {
//   @include aspect-ratio(16, 9);
// }
