@use "sass:map";
@use "sass:math";
@use "variables" as v;

$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "large": 1440px,
);

@mixin mq($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin fluid-type(
  $min-size,
  $max-size,
  $min-breakpoint: 480px,
  $max-breakpoint: 1440px
) {
  $slope: math.div(
    ($max-size - $min-size),
    ($max-breakpoint - $min-breakpoint)
  );
  $y-axis-intersection: -$min-breakpoint * $slope + $min-size;

  font-size: clamp(
    #{$min-size},
    #{$y-axis-intersection} + #{$slope * 100vw},
    #{$max-size}
  );
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Użycie:
// .overlay {
//   @include absolute($top: 0, $left: 0);
//   width: 100%;
// }

@mixin aspect-ratio($width, $height) {
  aspect-ratio: $width / $height;

  @supports not (aspect-ratio: 1 / 1) {
    position: relative;
    &::before {
      content: "";
      display: block;
      padding-top: ($height / $width) * 100%;
    }
  }
}

// Użycie:
// .video-container {
//   @include aspect-ratio(16, 9);
// }

@mixin animated-underline() {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  will-change: transform; //prevent "jump" at the end of transition

  transition:
    color v.$transition-duration v.$transition-timing-function 50ms,
    transform v.$transition-duration v.$transition-timing-function 50ms;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: v.$highlight-color;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform v.$transition-duration v.$transition-timing-function
      50ms;
  }

  &:hover {
    color: v.$highlight-color;
    transform: scale(1.05);

    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
