:root {
  font-family: "Raleway", "Roboto", sans-serif;

  color: $main-text-color;
  background-color: $backgroundalt-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
