:root {
  font-family: "Raleway", "Roboto", sans-serif;

  color: $overlay-highlight;
  background-color: #cdcdcd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
