.transition {
  transition: all $transition-params;
}

.opacity0 {
  opacity: 0;
}
.opacity100 {
  opacity: 1;
}

.scale95 {
  transform: scale(0.95);
  opacity: 0;
}
.scale100 {
  transform: scale(1);
  opacity: 1;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1001;
  pointer-events: none;
}

.modalContent {
  display: block;
  position: relative;
  pointer-events: auto;
  background-color: $backgroundalt-color;
  width: 100%;
  max-width: 408px;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
  border-radius: 4px;
  padding: 40px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(46, 47, 66, 0.2);
    border-radius: 10px;
  }
}

.closeBtn {
  cursor: pointer;
  justify-self: end;
  border: 1px solid $alternative-borderline-color;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-light-color;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: $main-text-color;
  margin-bottom: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 0.8rem;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: $alternative-borderline-color;
  }
}

.inputWrapper {
  position: relative;
  padding-bottom: 15px;

  input {
    width: 100%;
    height: 40px;
    border: 1px solid $alternative-borderline-color;
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color $transition-params;

    &:focus {
      border-color: $highlight-color;
      & + .icon {
        fill: $highlight-color;
        color: $highlight-color;
      }
    }
  }
}

.icon {
  position: absolute;
  left: 12px;
  top: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $alternative-borderline-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

textarea {
  width: 100%;
  height: 120px;
  font-size: 0.8rem;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: $main-text-color;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color $transition-params;

  &:focus {
    border-color: $highlight-color;
  }
}

.checkboxField {
  position: relative;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  label {
    font-size: 0.8rem;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: $alternative-borderline-color;
  }

  a {
    color: $highlight-color;
    text-decoration: underline;
  }
  .error {
    bottom: -15px;
  }
}

.error {
  position: absolute;
  bottom: 0;
  font-size: 0.7rem;
  color: #ff0000;
  margin-top: 2px;
  margin-bottom: 0;
}

.submitBtn {
  margin: 24px auto 0;
  min-width: 169px;
}
