.contactsSection {
  padding: 40px 0;
  background-color: $light-color;

  @include mq("tablet") {
    padding: 60px 40px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 60px;

  @include mq("tablet") {
    grid-template-columns: 0.4fr 0.6fr;
    gap: 48px;
  }

  @include mq("desktop") {
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    margin-bottom: 100px;
  }
}

.infoSide {
  display: flex;
  flex-direction: column;

  @include mq("tablet") {
    height: 100%;
    justify-content: space-between;
  }
}

.formSide {
  width: 100%;
  padding: 24px;
  background-color: $light-color;
  border-radius: 15px;
  border: 1px solid rgba($main-text-color, 0.05);

  box-shadow: $shadow-card;

  transition:
    transform $transition-default,
    box-shadow $transition-default;

  &:hover {
    transform: translateY(-2px);
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.05),
      0 25px 30px -5px rgba(46, 47, 66, 0.15);
  }

  @include mq("tablet") {
    padding: 40px;
  }

  @include mq("desktop") {
    padding: 60px; // Większy padding wewnętrzny na desktopie
  }
}

.mapSection {
  width: 100%; // Mobile: do krawędzi
  border-radius: 15px;

  @include mq("tablet") {
    max-width: 1200px;
    margin: 40px auto 0;

    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}
