.featureCard {
  display: flex;
  flex-direction: column;
  // Na mobile zazwyczaj centrujemy, ale od tabletu/desktopu
  // lepiej wygląda wyrównanie do lewej, jeśli tekst jest krótki
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 4px;
  transition:
    transform $transition-default,
    box-shadow $transition-default;

  @include mq("tablet") {
    max-width: none; // Pozwólmy gridowi z HomeServices decydować o szerokości
  }

  &:hover {
    transform: translateY(-5px); // Delikatne uniesienie karty
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $backgroundalt-color;
  border-radius: 4px;
  color: $main-text-color; // Kolor ikony, jeśli w spricie ma currentColor
  padding-block: 30px;
}
.icon {
  width: 120px;
  height: 120px;

  @include mq("tablet") {
    width: 92px;
    height: 92px;
  }

  @include mq("desktop") {
    width: 80px;
    height: 80px;
  }
}

.featureTitle {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $main-text-color;
  margin-block: 10px;

  @include mq("tablet") {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

.featureText {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $main-text-color; // Tekst musi być wyraźny
  padding: 10px 20px;
}
