.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 4px;
  transition:
    transform $transition-default,
    box-shadow $transition-default;

  @include mq("tablet") {
    max-width: none;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-card;
  }
}

.iconWrapper {
  @include flex-center();
  width: 100%;
  background-color: $backgroundalt-color;
  border-radius: 4px;
  color: $main-text-color;
  padding-block: 30px;
}

.featureTitle {
  @include fluid-type(1.25rem, 1.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $main-text-color;
  margin-block: 10px;
}

.featureText {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $main-text-color;
  margin: 0 20px;
}
