.section {
  @include flex-center(column);
  background-color: $light-color;
  padding-block: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.featureList {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  @include mq("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq("desktop") {
    width: 1200px;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
}

.title {
  font-size: 2.1rem;
  padding-bottom: 30px;
  justify-self: center;
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  @include mq("desktop") {
    width: 1200px;
    justify-content: space-between;
  }
}

.serviceItem {
  width: 360px;
  height: 300px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(46, 47, 66, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: height $transition-params;

  .imageWrapper:hover & {
    height: 30%;
  }
}

.overlayText {
  color: $light-color;
  font-weight: 500;
}

.desktop {
  display: none;
  @include mq("desktop") {
    display: block;
  }
}
