.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background-color: $light-color;
}

.pageAnimation {
  width: 100%;
  flex-grow: 1;
}
