.mainContainer {
  display: flex; // Zamiast flex-center, użyjmy standardowego flexa
  flex-direction: column;
  flex-grow: 1;
  width: 100%; // Kluczowe: kontener musi brać 100%
  background-color: $light-color;
}

.pageAnimation {
  width: 100%; // To pozwala sekcjom wewnątrz (np. Hero) rozciągnąć się na całą szerokość
  animation: slideDown $transition-params forwards;
}
