.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainContainer {
  @include flex-center(column);
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;
  background-color: $light-color;
}

.pageAnimation {
  animation: slideDown 0.5s $transition-timing-function forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
