.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1001;
}

.modalContent {
  position: relative;
  background-color: $backgroundalt-color;
  width: 100%;
  max-width: 408px;
  border-radius: 4px;
  padding: 72px 24px 24px; // Dużo miejsca na górze dla closeBtn
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
}
