$main-text-color: #2e2f42;
$alternative-color: #757575;
$highlight-color: #404bbf;
$backgroundmain-color: #2f303a;
$backgroundalt-color: #f5f4fa;
$dark-color: #2f2f37;
$light-color: #ffffff;
$lightalpha-color: #f4f4fd60;
$borderline-color: #eeeeee;
$background-light-color: #e7e9fc;
$alternative-borderline-color: #afb1b8;
$icon-on-dark-color: #ffffff1a;
$overlay-color: #2f303acc;
$overlay-highlight: #4d5ae5;
$error-color: #ff4b4b;

$font-primary: "Raleway", sans-serif;
$font-secondary: "Roboto", sans-serif;

$shadow-card:
  0 1px 6px rgba($main-text-color, 0.08),
  0 1px 1px rgba($main-text-color, 0.16),
  0 2px 1px rgba($main-text-color, 0.08);

$transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-page-enter: 300ms ease-out;
