:root {
  font-family: "Raleway", "Roboto", sans-serif;

  color: $main-text-color;
  background-color: $backgroundalt-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}
body,
html {
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}
a {
  text-decoration: none;
  color: currentColor;
  &:active {
    color: currentColor;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

// Dla przeglądarek opartych na Webkit
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  // Tor powinien mieć ten sam kolor co tło Twojej strony/sekcji
  background: $backgroundalt-color;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    $highlight-color,
    0.6
  ); // Lekka przezroczystość na starcie
  border-radius: 20px;
  // Border MUSI mieć ten sam kolor co track, żeby stworzyć efekt "pływającej wyspy"
  border: 3px solid $backgroundalt-color;

  &:hover {
    background-color: $highlight-color; // Pełny Iris przy interakcji
  }
}

// Dla Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: $highlight-color $backgroundalt-color;
}
