:root {
  font-family: "Raleway", "Roboto", sans-serif;

  color: $main-text-color;
  background-color: $backgroundalt-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}
body,
html {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
  &:active {
    color: currentColor;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
