@use "./variables" as *;

:root {
  font-family: "Raleway", "Roboto", sans-serif;
  color: $main-text-color;
  background-color: $backgroundalt-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Synchronize manually in mixins, breakpoints.ts and index.scss
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

html {
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: $highlight-color $backgroundalt-color;

  &.no-scrollbar-gutter {
    scrollbar-gutter: auto; // usuwa rezerwowane miejsce
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

// Webkit scrollbar styling
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: $backgroundalt-color;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($highlight-color, 0.6);
  border-radius: 20px;
  border: 3px solid $backgroundalt-color;

  &:hover {
    background-color: $highlight-color;
  }
}

// Global resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;

  &:active {
    color: currentColor;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
