.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $light-color;
  border: 1px solid $alternative-borderline-color;
  border-radius: 5px;
  overflow: hidden;
  transition:
    transform $transition-default,
    box-shadow $transition-default;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-card;
  }
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  width: 100%;

  @include mq("tablet") {
    aspect-ratio: 360 / 300;
    height: 300px;
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  margin-block: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 120px;
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $main-text-color;
  margin-bottom: 8px;
}

.category {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $alternative-color;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: rgba($highlight-color, 0.9);
  transform: translateY(100%);
  transition: transform $transition-default;

  .card:hover & {
    transform: translateY(0);
  }
}

.overlayText {
  color: $light-color;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
