.featureCard {
  @include flex-center(column);
  text-align: center;
  padding: 0;
  height: 100%;
  width: 350px;
  border: 1px solid transparent;
  border-radius: 1%;
  transition:
    box-shadow $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;

  @include mq("desktop") {
    width: 270px;
  }

  &:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    border-color: $alternative-borderline-color;
    overflow: hidden;
  }
}
.iconWrapper {
  @include flex-center();
  height: 120px;
  background-color: $backgroundalt-color;
  border-radius: 4px;
  margin-bottom: 28px;
  width: 100%;
}

.featureTitle {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $alternative-color;
  margin-bottom: 8px;
  margin-top: 8px;
}

.featureText {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $alternative-color;
  max-width: 264px;
}
