.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $light-color;
  border-bottom: 1px solid transparent;
  padding: 16px 0;

  transition:
    padding $transition-default,
    background-color $transition-default,
    border-color $transition-default,
    box-shadow $transition-default;

  &.isScrolled {
    padding: 8px 0;
    background-color: rgba($light-color, 0.95);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-bottom-color: $alternative-borderline-color;
  }
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;

  @include mq("tablet") {
    max-width: 784px;
  }
  @include mq("desktop") {
    max-width: 1200px;
  }
}

.headerInner {
  @include flex-center(row);
  justify-content: space-between;
}
