.section {
  background-color: $backgroundalt-color;
  padding: 50px 0;
}

.title {
  font-size: 2.1rem;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $main-text-color;
  margin-bottom: 50px;
}

.teamList {
  display: grid;
  justify-content: center;
  gap: 72px;
  list-style: none;
  padding: 0 15px; // Padding bezpieczeństwa dla bardzo małych ekranów

  // Mobile: jedna kolumna, która rośnie do max 450px
  grid-template-columns: minmax(auto, 450px);

  @include mq("tablet") {
    // Tablet: dwie kolumny po 350px
    grid-template-columns: repeat(2, 350px);
    gap: 64px 24px;
  }

  @include mq("desktop") {
    // Desktop: cztery kolumny po 264px
    grid-template-columns: repeat(4, 264px);
    gap: 24px;
    max-width: 1158px;
    margin: 0 auto;
  }
}
