.section {
  background-color: $backgroundalt-color;
  padding: 50px 0;
}

.title {
  font-size: 2.1rem;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $main-text-color;
  margin-bottom: 50px;
}

.teamList {
  display: grid;
  justify-content: center;
  gap: 72px 24px;

  grid-template-columns: repeat(1, 350px);

  @include mq("tablet") {
    grid-template-columns: repeat(2, 350px);
    gap: 64px 24px;
  }

  @include mq("desktop") {
    grid-template-columns: repeat(4, 264px);
    margin: 0 auto;
    width: 1200px;
    justify-content: space-between;
  }
}
