.button {
  @include flex-center();
  gap: 10px;
  font-family: inherit;
  font-weight: 700;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all $transition-duration $transition-timing-function;

  &.disabled {
    background-color: $alternative-color;
    border-color: $borderline-color;
    color: $main-text-color;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }
}

.primary {
  background-color: $highlight-color;
  color: $light-color;

  &:hover,
  &:focus {
    background-color: $overlay-highlight;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
