.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $backgroundalt-color;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  padding-left: 20px;

  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  will-change: transform, opacity, visibility;

  transition:
    transform 350ms $transition-timing-function,
    opacity 350ms $transition-timing-function,
    visibility 350ms $transition-timing-function;

  &.isOpen {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}
.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  margin-bottom: 15px;
}

.closeBtn {
  position: sticky;
  top: 40px;
  left: 85%;
  border: 1px solid $alternative-borderline-color;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-light-color;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;

  .navlink {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #2e2f42;
    transition: color 250ms $transition-timing-function;

    &.activeLink {
      color: $highlight-color;
    }
  }
}

.mobileContacts {
  display: flex !important;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
}
