.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $backgroundalt-color;
  z-index: 1000;
  height: 100vh;
  width: 100%;

  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  will-change: transform, opacity, visibility;

  transition:
    transform $transition-duration $transition-timing-function,
    opacity $transition-duration $transition-timing-function,
    visibility $transition-duration $transition-timing-function;

  &.isOpen {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}
.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 90%;
  padding-left: 50px;
  padding-top: 50px;
}

.closeBtn {
  cursor: pointer;
  position: sticky;
  top: 40px;
  left: 80%;
  border: 1px solid $alternative-borderline-color;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-light-color;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;

  .navlink {
    @include animated-underline();
    width: fit-content;
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: color $transition-duration $transition-timing-function;

    &.activeLink {
      color: $highlight-color;
    }
  }
}

.mobileContacts {
  display: flex !important;
  flex-direction: column;
  gap: 16px;
}
