.closeBtn {
  @include flex-center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $alternative-borderline-color;
  background-color: $background-light-color;
  cursor: pointer;
  color: $main-text-color;
  transition:
    transform $transition-default,
    background-color $transition-default,
    border-color $transition-default,
    color $transition-default;

  &:hover,
  &:focus {
    outline: none;
    background-color: $highlight-color;
    border-color: transparent;
    color: $light-color;
    transform: rotate(90deg);
  }

  &:active {
    transform: scale(0.9) rotate(90deg);
  }
}
