.icon {
  display: inline-block;
  // Ustawiamy fill na currentColor, aby ikona
  // automatycznie przyjmowała kolor tekstu rodzica
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;

  // Wspieramy płynne przejście kolorów, gdy rodzic zmienia kolor
  transition:
    fill $transition-default,
    stroke $transition-default;

  // Rezygnujemy z &:hover tutaj.
  // To SocialIcon.module.scss powinien zarządzać kolorem ikony!
}
