.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  transition: fill $transition-duration $transition-timing-function;

  &:hover {
    fill: $highlight-color;
  }
}
