.section {
  @include flex-center(column);
  background-color: $light-color;
  padding: 50px 15px;
  width: 100%;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: inset(100%);
  overflow: hidden;
}

.featureList {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;

  margin: 0 auto 50px;

  @include mq("tablet") {
    grid-template-columns: repeat(2, 1fr);
    max-width: 750px;
    gap: 30px;
  }

  @include mq("desktop") {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
  }
}

.desktop {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: none;
  @include mq("desktop") {
    display: block;
  }
}

.title {
  font-size: $font-size-section-title;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $main-text-color;
  margin-bottom: 50px;
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.serviceItem {
  flex-basis: 100%;
  max-width: 360px;
  height: 300px;

  @include mq("tablet") {
    flex-basis: calc((100% - 24px) / 2);
  }

  @include mq("desktop") {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;

  &:hover .serviceImage {
    transform: scale(1.1);
  }
}

.serviceImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform $transition-default;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: rgba($overlay-color, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  transition:
    height $transition-default,
    background-color $transition-default;

  .imageWrapper:hover & {
    height: 90px;
    background-color: rgba($overlay-color, 0.95);
  }
}

.overlayText {
  color: $light-color;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}
