.item {
  height: 100px;
}

.link {
  @include flex-center();
  height: 100%;
  border: 1px solid $alternative-borderline-color;
  border-radius: 4px;
  color: $alternative-borderline-color;
  cursor: pointer;
  transition:
    border-color $transition-default,
    color $transition-default;

  @include mq("tablet") {
    padding: 0;
  }
  @include mq("desktop") {
    padding-inline: 50px;
  }

  &:hover,
  &:focus {
    border-color: $highlight-color;
    color: $highlight-color;
  }
}
