.link {
  @include flex-center();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid transparent;

  // Optymalizacja pod animację koloru
  will-change: background-color, color, transform;
  transition:
    background-color $transition-default,
    border-color $transition-default,
    color $transition-default,
    transform $transition-default;

  svg {
    fill: currentColor; // Dzięki temu ikona zawsze bierze kolor z tekstu linku
  }

  &:hover,
  &:focus {
    transform: translateY(
      -3px
    ); // Subtelny efekt uniesienia - Senior Level Detail
  }

  // Wariant CIEMNY (np. do MobileMenu na jasne tło)
  &[data-variant="dark"] {
    background-color: $highlight-color;
    color: $light-color;

    &:hover,
    &:focus {
      background-color: $background-light-color;
      border-color: $highlight-color;
      color: $highlight-color;
    }
  }

  // Wariant JASNY (np. do Footera na ciemne tło)
  &[data-variant="light"] {
    background-color: $icon-on-dark-color; // Twoja zmienna #ffffff1a
    color: $light-color;

    &:hover,
    &:focus {
      background-color: $overlay-highlight; // Żywszy kolor przy hoverze na ciemnym tle
      color: $light-color;
    }
  }
}
