.link {
  @include flex-center();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid transparent;
  will-change: transform;
  transition:
    background-color $transition-default,
    border-color $transition-default,
    color $transition-default,
    transform $transition-default;

  svg {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    transform: translateY(-3px);
  }
}

.dark {
  background-color: $highlight-color;
  color: $light-color;

  &:hover,
  &:focus {
    background-color: $background-light-color;
    border-color: $highlight-color;
    color: $highlight-color;
  }
}

.light {
  background-color: $icon-on-dark-color;
  color: $light-color;

  &:hover,
  &:focus {
    background-color: $overlay-highlight;
    color: $light-color;
  }
}
