.link {
  @include flex-center();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $highlight-color;
  color: $light-color;
  border: 1px solid transparent;
  transition:
    background-color $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $background-light-color;
    border-color: $highlight-color;
    color: $highlight-color;
  }

  svg {
    fill: currentColor;
  }
}
