.hero {
  width: 100vw;
  background-color: $backgroundmain-color;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.innerWrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @include mq("tablet") {
    min-height: 436px;
  }

  @include mq("desktop") {
    min-height: 600px;
  }
}

.picture {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: relative;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.7);
  display: flex;
  align-items: center;
  padding-block: 30px;

  @include mq("desktop") {
    padding-block: 40px;
  }
}

.container {
  @include flex-center(column);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  gap: 30px;
  @include mq("desktop") {
    gap: 40px;
  }
}

.title {
  color: $light-color;
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  line-height: 1.11;
  max-width: 320px;
  margin: 0;

  @include mq("tablet") {
    font-size: 3.5rem;
    max-width: 496px;
  }
}
