.list {
  display: flex;
  flex-wrap: wrap; // Bazowo: jeden pod drugim (mobile)
  align-items: stretch; // Rozciąga buttony na całą szerokość
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0 auto 32px;

  @include mq("tablet") {
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
  }
}

.element {
  width: fit-content;
}

.button {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid $alternative-borderline-color;
  background-color: $light-color;
  color: $highlight-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;

  transition:
    color $transition-default,
    background-color $transition-default,
    border-color $transition-default,
    box-shadow $transition-default;

  @include mq("tablet") {
    width: auto; // Od tabletu: szerokość zależna od tekstu
  }

  &.isActive,
  &:hover,
  &:focus {
    color: $light-color;
    background-color: $highlight-color;
    border-color: transparent;
    box-shadow:
      0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
