.section {
  background-color: $backgroundalt-color;
  padding: 96px 0;

  @include mq("desktop") {
    padding: 120px 0;
  }
}

.title {
  font-size: 2.1rem;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $main-text-color;
  margin-bottom: 72px;
}

.teamList {
  display: grid;
  justify-content: center;
  gap: 72px 24px;

  grid-template-columns: repeat(1, 264px);

  @include mq("tablet") {
    grid-template-columns: repeat(2, 264px);
    gap: 64px 24px;
  }

  @include mq("desktop") {
    grid-template-columns: repeat(4, 264px);
  }
}
