.card {
  background-color: $light-color;
  border-radius: 0 0 4px 4px;
  box-shadow: $shadow-card;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include mq("tablet") {
    max-width: 350px;
  }

  @include mq("desktop") {
    max-width: 264px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 264 / 260;
  object-fit: cover;
  transition: transform $transition-default;

  .card:hover & {
    transform: scale(1.05);
  }
}

.info {
  padding: 32px 16px;
  text-align: center;
  flex-grow: 1;
}

.name {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $main-text-color;
  margin-bottom: 8px;
}

.role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $alternative-color;
  margin-bottom: 8px;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
