.card {
  background-color: $light-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 350px;
  overflow: hidden;

  &:hover .image {
    transform: scale(1.05);
  }

  @include mq("desktop") {
    width: 264px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  transition: transform $transition-params;
}

.info {
  padding: 32px 16px;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $main-text-color;
  margin-bottom: 8px;
}

.role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $alternative-color;
  margin-bottom: 8px;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;

  a {
    width: 40px;
    height: 40px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
