.footer {
  background-color: $backgroundmain-color;
  padding: 40px 0;

  @include mq("desktop") {
    padding: 32px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  padding: 0 16px;

  @include mq("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 40px 112px;
  }

  @include mq("desktop") {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    max-width: 1200px;
    padding: 0 15px;
  }
}

.infoWrapper {
  @include flex-center(column);
  text-align: center;
  gap: 16px;

  @include mq("tablet") {
    width: 264px;
    margin: 0;
  }
}

.text {
  color: $lightalpha-color;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02em;
  margin: 0;
  padding-inline: clamp(16px, 10vw, 80px);

  @include mq("tablet") {
    padding-inline: 0;
  }
}

.socialWrapper {
  @include flex-center(column);
  gap: 16px;

  @include mq("tablet") {
    align-items: flex-start;
  }

  @include mq("desktop") {
    margin-top: 10px;
  }
}

.subtitle {
  @include fluid-type(0.9rem, 1rem);
  color: $light-color;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  align-self: center;
}

.subscribeWrapper {
  width: 100%;
  @include flex-center(column);

  @include mq("desktop") {
    width: auto;
    align-items: flex-start;
    margin-top: 10px;
  }
}
