.footer {
  background-color: $backgroundmain-color;
  padding: 2.5rem 0; // 40px

  @include mq("desktop") {
    padding: 2rem 0; // 100px
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; // Twoje 16px
  margin: 0 auto;
  padding: 0 1rem; // Bezpieczny margines boczny dla mobile

  @include mq("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 2.5rem 7rem;
  }

  @include mq("desktop") {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;

    // Ograniczenie szerokości do 1200px (75rem)
    max-width: 75rem;
    padding: 0 15px; // Standardowe wyrównanie krawędzi
  }
}

.infoWrapper {
  @include flex-center(column);
  text-align: center;
  gap: 1rem;

  @include mq("tablet") {
    width: 16.5rem; // 264px
    margin: 0;
  }
}

.text {
  color: $lightalpha-color;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding-inline: 100px;

  @include mq("tablet") {
    padding-inline: 0;
  }
}

.socialWrapper {
  @include flex-center(column);
  gap: 1rem;

  @include mq("tablet") {
    align-items: flex-start;
  }

  @include mq("desktop") {
    margin-top: 10px;
  }
}

.subtitle {
  color: $light-color;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;

  margin: 0;

  // Twój dodatek dla lepszego pasowania do logo
  align-self: center;
}

.subscribeWrapper {
  width: 100%;
  @include flex-center(column);

  @include mq("desktop") {
    width: auto;
    align-items: flex-start;
    margin-top: 10px;
  }
}
