.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $light-color;

  .headerInner {
    @include flex-center(row);
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid transparent;

    will-change: padding;

    transition:
      padding $transition-duration $transition-timing-function,
      border-color $transition-duration $transition-timing-function,
      box-shadow $transition-duration $transition-timing-function;

    &.isScrolled {
      padding: 5px 16px;
      backdrop-filter: blur(10px);
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
      border-bottom-color: $alternative-borderline-color;
    }
  }
}
