.header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 48px;
  background-color: $backgroundalt-color;
  @include mq("tablet") {
    height: 65px;
  }
  @include mq("desktop") {
    height: 50px;
  }

  .headerInner {
    @include flex-center(row);
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid transparent;

    will-change: padding;

    transition:
      padding 300ms $transition-timing-function,
      background-color 300ms $transition-timing-function,
      border-color 300ms $transition-timing-function,
      box-shadow 300ms $transition-timing-function;

    &.isScrolled {
      padding: 5px 16px;
      background-color: rgba($backgroundalt-color, 0.9);
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid $alternative-borderline-color;
    }
  }
}
